.box{
    display: flex;
    justify-content: space-evenly;
    margin: 15%;
    font-size: xxx-large;
    font-weight: 600;
    color: white;
}
.box input{
    width: 70%;
    height: 10%;
    border: 2px solid darkslategrey;
   
}
button{
    cursor: pointer;
    background: darkslategrey;
    color: white;
    width: 11%;
    height: 12%;
    border: none;
    font-size: 15px;
    font-weight: 100;
}